@charset "utf-8";
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@font-face {
	font-family: 'gothic';
	src: url('./gothic.eot');
	src: local('gothic'), url('./gothic.woff') format('woff'), url('./gothic.ttf') format('truetype');
}
@font-face {
font-family: 'Courier New';
font-style: normal;
font-weight: normal;
src: local('Courier New'), url('Cour.woff') format('woff');
}
@font-face {
font-family: 'Harlow Solid Italic';
font-style: normal;
font-weight: normal;
src: local('Harlow Solid Italic'), url('HARLOWSI_1.woff') format('woff');
}

body, h1, h2, h3, h4, h5, p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
.cf:after{
    n: "";
    display: block;
    clear: both;
}

.w1200{
    width: 1200px;
    margin: 0 auto;
}

/*header*/
#header{
    width: 100%;
    height: 120px;
    background: #f0f0f0;
    position: fixed;
    z-index: 1;
}
/*headerIn 시작*/
.headerIn{}
.headerIn h1{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 100px;
    margin: 10px 0;
}
.headerIn h1 a{
    display: block;
}
.headerIn h1 a img{
    width: 100px;
}
.gnb{
    display: inline-block;
    margin-left: 60px;
}
.gnb li{
    display: inline-block;
    margin-right: 60px;
}
.gnb li a{
    font-size: 20px;
    color: #969696;
}
.gnb li a:hover{
    text-decoration: underline;
}

/*fullpage*/
#fullpage{}

/*섹션1 시작*/
#section1{

}
.logo{
    text-align: center;
    padding-top: 150px; /*집에서 수정*/
}
.logo img{
    width: 200px;
}
.logo img:last-child{
    display: none;
}
/*about me 시작*/
.aboutme{
    position: relative;
}
.aboutme h1{
    font-size:60px;
    text-align: center;
    color: #858585;
}
.aboutme h1 p{
    color: #aeaeae;
}

.graph{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.blueboxing{
    width: 460px;
}
.skill, .blueboxing{
    display: inline-block;
    vertical-align: middle;
}
.graph div{
    font-size: 14px;
}

.skill{}
.skill ul li{
    text-align: right;
    color: #777777;
    margin: 15px 0;
}

.blue {
    width:400px;
}
/** Progressbar class css*/
.progressbar {
    width: 100%;
	margin: 18px;
	position: relative;
	background-color: #eeeeee;
	box-shadow: inset 0px 1px 1px rgba(0,0,0,.1);
}

.proggress{
	height: 14px;
	width: 10px;
	background-color: #100ded;
}

.percentCount{
	position: absolute;
    right: -40px;
    top: 0;
	clear: both;
	font-size: 14px;
    color: #100ded;
}


/*섹션2 시작*/
#section2{
    margin-top: 120px;
    background: url(../images/main/work_bg.jpg) no-repeat;
    background-size: 100%;
}

.bg{
    text-align: center;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}
.bg h1{
    font-size:60px;
    text-align: center;
    color: #858585;
    padding-top: 80px;
}
.morebtn{
    width: 120px;
    position: absolute;
    right: 50%;
    margin-right: -60px;
    margin-top: 20px;
}
.morebtn:after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: none;
}
.morebtn:hover:after{
    display: block;
    width: 100%;
    height: 1px;
    background: #aeaeae;
}
.morebtn a p{
    display: inline-block;
    vertical-align: middle;
    color: #aeaeae;
    font-size: 30px;
}
.morebtn a span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #aeaeae;
    border-radius: 50%;
}

.gallery{
    margin-top: 100px;
}
.gallery div{
    width: 320px;
    display: inline-block;
    font-size: 0;
}
.gallery div a{}
.gallery div a img{}

/*섹션3*/
#section3{}
.contactme{}
.contactme h1{
    text-align: center;
    font-size: 60px;
    color: #858585;
    padding-top: 120px;
}
.contactme h1 p{
    font-size: 36px;
    font-weight: 100;
    color: #aeaeae;
}

.bluebox{
    width: 800px;
    height: 400px;
    margin: 0 auto;
    background: none;
    border: 5px solid #100ded;
    margin-top: 50px;
    position: relative;
}
.bluebox div{}

.leftbox{
    margin-left: 50px; 
}
.leftbox ul{}
.left01{
    width: 200px;
    position: relative;
}
.left01 ul{}
.left01 ul li{
    display: inline-block;
    font-size: 14px;
    color: #858585;
}
.left01 ul li:last-child{
    position: absolute;
    left: 50px;
}
.left01 ul li:first-child{
    font-weight: 800;
}
.left01 ul li:last-child{
    margin-left: 10px;
}
.left02{
    margin-top: 10px;
}
.left02 li{
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    line-height: 31px;
    background: #f0f0f0;
    border-radius: 50%;
    text-align: center;
}
.left02 li:first-child{
    margin-right: 10px;
}
.left02 li a{
    display: block;
}
.left02 li a img{
    display: inline-block;
    vertical-align: middle;
}

.rightbox{
    position: absolute;
    right: 50px;
}

form {}
form div + div {
    margin-top: 5px;
}
input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 14px sans-serif;
    color: #858585;
    /* To give the same size to all text field */
    width: 450px;
    height: 30px;
    background: #f0f0f0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
    
    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
}
input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}
textarea{
    /* To properly align multiline text fields with their labels */
    vertical-align: top;

    /* To give enough room to type some text */
    height: 130px;

    /* To allow users to resize any textarea vertically
       It does not work on every browsers */
    resize: vertical;
}
button {
    width: 60px;
    height: 30px;
    background: #000;
    color: #fff;
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    position: absolute;
    right: 0;
}
button a{
    color: #fff;
}
.leftbox, .rightbox{
    display: inline-block;
    vertical-align: top;
    margin-top: 70px;
}
.section fp-auto-height{}
#section4 p{
    text-align: center;
    padding: 10px 0;
    color: #e0e0e0;
    font-size: 14px;
}
/*웹에서 보이지 않음*/
.rightmenu{
    display: none;
}
#pannelbg{
    display: none;
}
.footertopbtn{
    display: none;
}
/*웹에서 보이지 않음*/


/*반응형*/
@media screen and (max-width:768px){
    body{
        min-width: auto;
    }
    .w1200{
        width: auto;
    }
    
    /*pannel bg*/
    #pannelbg{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.6);
        display: none;
        position: absolute;
        z-index: 1;
        top:0;
    }
    #pannelbg a{
        position: absolute;
        right: 5px;
        color: #000;
        font-size: 40px;
    }
    .section{}
    /*header*/
    #header{
        width: 100%;
        padding: 20px;
        height: 100px;
        background: #fff;
        z-index: 1;
        position: static;
        box-sizing: border-box;
    }
    /*headerIn 시작*/
    .headerIn{
        position: relative;
    }
    .headerIn h1{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }
    .headerIn h1 a{
        display: block;
    }
    .headerIn h1 a img{
        width: 60px;
    }
    .gnb{
        display: none;
    }
    
    /*라이트 메뉴*/
    .rightmenu{
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .rightmenu div{
        display: inline-block;
        vertical-align: middle;
    }
    .rightmenu div a{}
    .rightmenu div a img{
        width: 60px;
    }

    /*레프트 네비게이션 시작*/
    body {
        font-family: "Lato", sans-serif;
    }
    .openbtn{
        color: #000;
        z-index: 1;
        font-size:30px;
        cursor:pointer;
    }
    .closebtn{
        position: absolute;
        top: 20px;
        right: 0;
        font-size: 50px;
        padding-right: 20px;
        z-index: 3;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.5s;
    }
    .sidenav .navTop{
        width: 100%;
        background: none;
        position: absolute;
        top: 0;
        z-index: 1;
    }
    .navTop div{
        display: inline-block;
        margin: 0;
    }
    .navTop .navLogo{
        padding: 20px;
    }
    .navTop .navLogo a{
        display: block;
    }
    .sidenav .navMenu{
        width: 100%;
        text-align: center;
        margin-top: 160px;
    }
    .sidenav .navMenu div{
        width: 100%;
        margin: 5px auto;
        box-sizing: border-box;
    }
    .sidenav .navMenu a {
        /*padding: 8px 8px 8px 32px;*/
        text-decoration: none;
        font-size: 28px;
        font-family: 'Century Gothic';
        color: #000;
        display: block;
        transition: 0.3s;
    }
    .sidenav .navMenu div:nth-child(3) a, 
    .sidenav .navMenu div:nth-child(4) a{
        font-size: 22px;
        color: #969696;
    }
    .bottomLogo{
        text-align: center;
    }
    .bottomLogo img{
        width: 120px;
        padding-top: 10%;
    }
    
    /*섹션1*/
    #section1{
        position: relative;
        padding: 0;
    }
    
    /*로고 이미지*/
    .logo{
        width: 100%;
        margin-bottom: 50px;
        margin-top: 50px;
        padding-top: 0;
    }
    .logo img:first-child{
        display: none;
    }
    .logo img:last-child{
        width: 150px;
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    
    /*어바웃미*/
    .aboutme{
        text-align: center;
        width: 100%;
        padding: 30px 0;
        background: #f0f0f0;
        position: relative;
    }
    .aboutme h1{
        font-size: 40px;
    }
    .aboutme h1 p{
        display: none;
    }
    
.skill, .blueboxing{
    display: inline-block;
    vertical-align: middle;
}
    
    /*파란색 그래프*/
    .graph{
        width: 100%;
        margin: 30px auto;
        text-align: center;
        position: static;
        margin-right: 0;
    }
    .blueboxing{
        width: 230px;
    }
    .skill, .blueboxing{
        display: inline-block;
        vertical-align: middle;
    }
    .graph div{
        font-size: 12px;
    }
    .skill{}
    .skill li{
        text-align: right;
        color: #777777;
        margin: 15px 0;
    }

    .blue {
        width:170px;
    }
    
    
    /** Progressbar class css*/
    .progressbar {
        width: 100%;
        margin: 15px;
        position: relative;
        background-color: #eeeeee;
        box-shadow: inset 0px 1px 1px rgba(0,0,0,.1);
    }

    .proggress{
        height: 12px;
        width: 10px;
        background-color: #100ded;
    }

    .percentCount{
        position: absolute;
        right: -40px;
        top: 0;
        clear: both;
        font-size: 14px;
        color: #100ded;
    }
    
    
    
    
    
    /*섹션2 시작*/
    #section2{
        width: 100%;
        height: 100%;
        background: url(../images/main/work_bg.jpg) no-repeat;
        background-size: cover;
        margin-top: 0;
    }
    .bg{
        text-align: center;
        width: 100%;
        height: 250px;
        background: rgba(0,0,0,0.7);
        padding-top: 30px;/*집에서 수정*/
    }
    
    .bg h1{
        font-size: 40px;
        text-align: center;
        color: #858585;
        padding-top: 0;
    }
    .morebtn{
        width: 120px;
        position: absolute;
        right: 50%;
        margin-right: -60px;
        margin-top: 20px;
    }
    .morebtn a p{
        font-size: 20px;
    }
    .morebtn:after{
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: none;
    }
    .morebtn:hover:after{
        display: block;
        width: 100%;
        height: 1px;
        background: #aeaeae;
    }
    .morebtn a span{
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        line-height: 17px;
        background: #aeaeae;
        border-radius: 50%;
    }
    .morebtn a span img{
        width: 8px;
    }
    .gallery{
        margin-top: 50px;
    }
    .gallery div{
        width: 30%;
    }
    .gallery div a{}
    .gallery div a img{
        width: 100%;
    }
    
    
    /*섹션3 시작*/
    #section3{}
    .contactme{
        padding: 30px 0;
    }
    .contactme h1{
        text-align: center;
        font-size: 40px;
        color: #858585;
        padding-top: 0;
    }
    .contactme h1 p{
        display: none;
    }
    

    .bluebox{
        width: 85%;
        height: 300px;
        margin: 0 auto;
        background: none;
        border: 5px solid #100ded;
        margin-top: 30px;
        position: relative;
        padding: 10px 0;
    }
    .bluebox div{}

    .leftbox{
        margin-left: 5%; 
        display: inline-block;
        vertical-align: top;
        margin-top: 0;
    }
    .leftbox ul{}
    .left01{
        width: 200px;
        position: relative;
    }
    .left01 ul{}
    .left01 ul li{
        display: inline-block;
        font-size: 12px;
        color: #858585;
    }
    .left01 ul li:last-child{
        position: absolute;
        margin-top: 4px;
        left: 50px;
    }
    .left01 ul li:first-child{
        font-weight: 800;
    }
    .left01 ul li:last-child{
        margin-left: 10px;
    }
    .left02{
        margin-top: 0;
        position: absolute;
        right: 5%;
        top: 35px;
    }
    .left02 li{
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        height: 30px;
        line-height: 25px;
        background: #fff;
        border-radius: 50%;
        text-align: center;
    }
    .left02 li:first-child{
        margin-right: 8px;
    }
    .left02 li a{
        display: block;
    }
    .left02 li a img{
        width: 16px;
        display: inline-block;
        vertical-align: middle;
    }
    .rightbox{
        display: inline-block;
        vertical-align: top;
        margin-top: 70px;
        position: absolute;
        right: 50%;
        margin-right: -140px;
    }
    form div + div {
        margin-top: 5px;
    }
    input, textarea {
        font: 12px sans-serif;
        width: 280px;
        height: 25px;
        background: #fff;
    }
    input:focus, textarea:focus {
        /* To give a little highlight on active elements */
        border-color: #000;
    }
    textarea{
        height: 100px;
    }
    button {
        width: 280px;
        height: 25px;
    }
    button a{
        color: #fff;
    }
    
    .section fp-auto-height{}
    #section4{
        position: relative;
    }
    #section4 p{
        text-align: center;
        padding: 13px 0;
        color: #e0e0e0;
        font-size: 14px;
        background: #909090;
}
    
    /*footer topbtn*/
    .footertopbtn{
        display: block;
        width: 41px;
        height: 41px;
        line-height:41px;
        background: #fff;
        border: 1px solid #e0e0e0;
        position: fixed;
        right: 0;
        bottom: 0;
        text-align: center;
        font-size: 13px;
    }
    .footertopbtn a{
        color: #969696;
        font-weight: bold;
    }
}
/*반응형*/











