@charset "utf-8";

@import url(//cdn.rawgit.com/puts-blog/NanumSquare/master/NanumSquare.css);

@font-face {
	font-family: 'gothic';
	src: url('./gothic.eot');
	src: local('gothic'), url('./gothic.woff') format('woff'), url('./gothic.ttf') format('truetype');
}
@font-face {
font-family: 'Courier New';
font-style: normal;
font-weight: normal;
src: local('Courier New'), url('Cour.woff') format('woff');
}
@font-face {
font-family: 'Harlow Solid Italic';
font-style: normal;
font-weight: normal;
src: local('Harlow Solid Italic'), url('HARLOWSI_1.woff') format('woff');
}
@media screen {
@font-face {
  font-family: 'Cambria::Menu';
  font-style: normal;
  font-weight: normal;
  src: local('Cambria'), url('https://themes.googleusercontent.com/font?kit=FuCXqyJXTEEvujaBqOffUw') format('woff');
}
}

body, h1, h2, h3, h4, h5, p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
.cf:after{
    content: "";
    display: block;
    clear: both;
}

.w1200{
    width: 1200px;
    margin: 0 auto;
}

/*header*/
#header{
    width: 100%;
    height: auto;
    background: #f0f0f0;
    position: fixed;
    z-index: 1;
    box-sizing: border-box;
}
/*headerIn 시작*/
.headerIn{
    height: auto;
}
.headerIn h1{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: auto;
    margin: 10px 0;
}
.headerIn h1 a{
    display: block;
}
.headerIn h1 a img{
    width: 100px;
}
.gnb{
    display: inline-block;
    margin-left: 60px;
}
.gnb li{
    display: inline-block;
    margin-right: 60px;
}
.gnb li a{
    font-size: 20px;
    color: #969696;
}
.gnb li a:hover{
    text-decoration: underline;
}

/*fullpage*/
#fullpage{}

/*section0 시작*/
#section{}



/*섹션1 시작*/
#section{
    margin-top: 120px;
}
.logo{
    text-align: center;
    padding-top: 100px;
}
.logo img{
    width: 300px;
}
.logo h2{
    font-size: 40px;
    color: #858585;
    margin-top: 50px;
}


/*섹션2 시작*/
#section2{
    position: relative;
    padding-top: 127px;
    height: auto;
}

/*about me 시작*/
.aboutme{
    position: absolute;
    bottom: 50%;
    margin-bottom: -225px;
    right: 50%;
    margin-right: -600px;
}
.aboutme h1{
    text-align: center;
    font-size:60px;
    color: #858585;

}
.aboutme h1 p{
    font-size:48px
    color: #aeaeae;
}

.contentTitle01{
    text-align: center;
    padding-top: 70px;
}
.contentTitle01 img{}

.graph{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.blueboxing{
    width: 460px;
}
.skill, .blueboxing{
    display: inline-block;
    vertical-align: middle;
}

.skill{}
.skill li{
    text-align: right;
    color: #777777;
    margin: 10px 0;
}

.blue {
    width:400px;
}
/** Progressbar class css*/
.progressbar {
    width: 100%;
	margin: 18px;
	position: relative;
	background-color: #eeeeee;
	box-shadow: inset 0px 1px 1px rgba(0,0,0,.1);
}

.proggress{
	height: 14px;
	width: 10px;
	background-color: #100ded;
}

.percentCount{
	position: absolute;
    right: -40px;
    top: 0;
	clear: both;
	font-size: 14px;
    color: #100ded;
}


/*섹션3*/
#section{}
.core{}
.core h1{
    text-align: center;
    font-size: 48px;
    color: #858585;
    padding-top: 100px;
}

.coreIcon{
    margin-top: 70px;
    text-align: center;
}
.coreIcon li{
    display: inline-block;
    margin: 0 40px;
}
.coreIcon li p{
    font-family: 'NanumSquare';
    font-size: 18px;
    color: #5e5e5e;
    margin-top: 20px;
}

/*section4*/
#section4{
    position: relative;
}
.history{}
.history h1{
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: center;
}
.historygraph{
    position: relative;
}
.center{
    width: 3px;
    height: 360px;
    background: #100ded;
    margin: 0 auto;
}
.cont{
    color: #777777;
    font-weight: 600;
    font-size: 16px;
    font-family: 'NanumSquare';
    margin: 0 auto;
}
.cont p{
    color: #100ded;
    margin-bottom: 20px;
}
.cont01{}
.cont02{}
.cont03{}
.cont04{}
.circle{
    width: 15px;
    height: 15px;
    background: #100ded;
    border-radius: 50%;
    position: absolute;
    right: 50%;
    margin-right: -7px;
}
.cont01 .circle{
    top: 0;  
}
.cont02 .circle{
    top: 125px;
}
.cont03 .circle{ 
    top: 235px;
}
.cont04 .circle{
    top: 345px;
}
.cont div:last-child{
    width: 162px;
    position: absolute;
}
.cont01 div:last-child{
    top: 0;
    left: 50%;
    margin-left: 30px;
}
.cont02 div:last-child{
    top: 125px;
    text-align: right;
    right: 50%;
    margin-right: 30px;
}
.cont03 div:last-child{
    top: 235px;
    left: 50%;
    margin-left: 30px;
}
.cont04 div:last-child{
    top: 345px;
    text-align: right;
    right: 50%;
    margin-right: 30px;
}



/*fadeinBig*/
/*fadeinBig*/



.section fp-auto-height{}
#section5 p{
    text-align: center;
    padding: 10px 0;
    color: #e0e0e0;
    font-size: 14px;
}

/*웹에서 보이지 않음*/
.headerIn h2{
    display: none;
}
.rightmenu{
    display: none;
}
#pannelbg{
    display: none;
}
.footertopbtn{
    display: none;
}
/*웹에서 보이지 않음*/



/*반응형*/
@media screen and (max-width:768px){
    body{
        min-width: auto;
    }
    .w1200{
        width: auto;
    }
    
    /*pannel bg*/
    #pannelbg{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.6);
        display: none;
        position: absolute;
        z-index: 1;
        top:0;
    }
    #pannelbg a{
        position: absolute;
        right: 5px;
        color: #000;
        font-size: 40px;
    }
    .section{}
    /*header*/
    #header{
        width: 100%;
        padding: 20px;
        height: 100px;
        background: #e9e9e9;
        position: static;
        z-index: 1;
    }
    /*headerIn 시작*/
    .headerIn{
        position: relative;
    }
    .headerIn h1{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }
    .headerIn h1 a{
        display: block;
    }
    .headerIn h1 a img{
        width: 60px;
    }
    .headerIn h2{
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
        font-size: 20px;
        color: #858585;
        padding-top: 18px;
    }
    .gnb{
        display: none;
    }
    .logo{
        display: none;
    }
    
    /*라이트 메뉴*/
    .rightmenu{
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .rightmenu div{
        display: inline-block;
        vertical-align: middle;
    }
    .rightmenu div a{}
    .rightmenu div a img{
        width: 60px;
    }

    /*레프트 네비게이션 시작*/
    body {
        font-family: "Lato", sans-serif;
    }
    .openbtn{
        color: #000;
        z-index: 1;
        font-size:30px;
        cursor:pointer;
    }
    .closebtn{
        position: absolute;
        top: 20px;
        right: 0;
        font-size: 50px;
        padding-right: 20px;
        z-index: 3;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.5s;
    }
    .sidenav .navTop{
        width: 100%;
        background: none;
        position: absolute;
        top: 0;
        z-index: 1;
    }
    .navTop div{
        display: inline-block;
        margin: 0;
    }
    .navTop .navLogo{
        padding: 20px;
    }
    .navTop .navLogo a{
        display: block;
    }
    .sidenav .navMenu{
        width: 100%;
        text-align: center;
        margin-top: 160px;
    }
    .sidenav .navMenu div{
        width: 100%;
        margin: 5px auto;
        box-sizing: border-box;
    }
    .sidenav .navMenu a {
        /*padding: 8px 8px 8px 32px;*/
        text-decoration: none;
        font-size: 28px;
        font-family: 'Century Gothic';
        color: #000;
        display: block;
        transition: 0.3s;
    }
    .sidenav .navMenu div:nth-child(3) a, 
    .sidenav .navMenu div:nth-child(4) a{
        font-size: 22px;
        color: #969696;
    }
    .bottomLogo{
        text-align: center;
    }
    .bottomLogo img{
        width: 120px;
        padding-top: 10%;
    }
    /*섹션2 시작*/
    #section2{}

    /*about me 시작*/
    .aboutme{
        margin-top: 50px;
        margin: 0 auto;
        position: static;
    }
    .aboutme h1{
        text-align: center;
        font-size: 40px;
        color: #858585;
        margin-top: 50px;
    }
    .aboutme h1 p{
        font-size: 24px;
        color: #aeaeae;
    }

    .contentTitle01{
        text-align: center;
        margin-top: 30px;
    }
    .contentTitle01 img{}


    /*파란색 그래프*/
    .graph{
        width: 100%;
        margin: 30px auto;
        text-align: center;
        position: static;
        margin-right: 0;
    }
     .blueboxing{
        width: 230px;
    }
    .skill, .blueboxing{
        display: inline-block;
        vertical-align: middle;
    }
    .graph div{
        font-size: 12px;
    }
    .skill{}
    .skill li{
        text-align: right;
        color: #777777;
        margin: 15px 0;
    }

    .blue {
        width:170px;
    }
    
    
    /** Progressbar class css*/
    .progressbar {
        width: 100%;
        margin: 15px;
        position: relative;
        background-color: #eeeeee;
        box-shadow: inset 0px 1px 1px rgba(0,0,0,.1);
    }

    .proggress{
        height: 12px;
        width: 10px;
        background-color: #100ded;
    }

    .percentCount{
        position: absolute;
        right: -40px;
        top: 0;
        clear: both;
        font-size: 14px;
        color: #100ded;
    }


    /*섹션3*/
    #section{}
    .core{
        padding: 50px 0;
    }
    .core h1{
        text-align: center;
        font-size: 48px;
        color: #858585;
        padding-top: 0;
    }

    .coreIcon{
        margin-top: 30px;
        text-align: center;
    }
    .coreIcon li{
        width: 40%;
        display: inline-block;
        margin: 0;
    }
    .coreIcon li:first-child, .coreIcon li:nth-child(3){
        margin-left: 20px;
    }
    .coreIcon li:nth-child(2), .coreIcon li:last-child{
        margin-right: 20px;
    }
    .coreIcon li:first-child, .coreIcon li:nth-child(2){
        margin-bottom: 20px;
    }
    .coreIcon li:nth-child(3) img{
        height: 60px;
    }
    .coreIcon li img{
        width: 30%;
    }
    .coreIcon li p{
        font-family: 'NanumSquare';
        font-size: 13px;
        color: #5e5e5e;
        margin-top: 10px;
    }

    
    #section4{
        padding-bottom: 100px;
    }
    .show-on-scroll { visibility: hidden; }
    .show-on-scroll.shown { visibility: visible; }

    .history{}
    .history h1{
        margin-top: 50px;
        margin-bottom: 30px;
        text-align: center;
    }
    .historygraph{}
    .center{
        width: 3px;
        height: 300px;
        background: #100ded;
        margin: 0 auto;
        position: relative;
    }
    .historygraph div{
        color: #777777;
        font-weight: 600;
        font-size: 12px;
        font-family: 'NanumSquare';
        margin: 0 auto;
    }
    .historygraph .cont p{
        color: #100ded;
        margin-bottom: 10px;
    }
    .cont{
        margin: 0 auto;
        margin-top: 100px;
    }
    .cont01{}
    .cont02{}
    .cont03{}
    .cont04{}
    .circle{
        width: 15px;
        height: 15px;
        background: #100ded;
        border-radius: 50%;
        margin: 0 auto;
    }
    .cont01 .circle{
        position: absolute;
        top: 129px;
        left: 50%;
        margin-left: -7px;
    }
    .cont02 .circle{
        position: absolute;
        top: 224px;
        left: 50%;
        margin-left: -7px;
    }
    .cont03 .circle{
        position: absolute;
        top: 319px;
        left: 50%;
        margin-left: -7px;
    }
    .cont04 .circle{
        position: absolute;
        top: 416px;
        left: 50%;
        margin-left: -7px;
    }
    .cont01 div:last-child{
        text-align: left;
        position: absolute;
        top: 129px;
        left: calc(50% + 30px);
    }
    .cont02 div:last-child{
        text-align: right;
        position: absolute;
        top: 224px;
        right: calc(50% + 30px);
    }
    .cont03 div:last-child{
        text-align: left;
        position: absolute;
        top: 319px;
        left: calc(50% + 30px);
    }
    .cont04 div:last-child{
        text-align: right;
        position: absolute;
        top: 416px;
        right: calc(50% + 30px);
    }
    
    
    .section fp-auto-height{}
    #section5 p{
        text-align: center;
        padding: 10px 0;
        color: #e0e0e0;
        font-size: 14px;
    }
    
    
    
    /*푸터*/
    #section5{
        position: relative;
    }
    #section5 p{
        text-align: center;
        padding: 13px 0;
        color: #e0e0e0;
        background: #909090;
        font-size: 14px;
}
    
    /*footer topbtn*/
    .footertopbtn{
        display: block;
        width: 41px;
        height: 41px;
        line-height: 41px;
        background: #fff;
        border: 1px solid #e0e0e0;
        position: fixed;
        right: 0;
        bottom: 0;
        text-align: center;
        font-size: 13px;
    }
    .footertopbtn a{
        color: #969696;
        font-weight: bold;
    }
}
/*반응형*/











